<h1>Libreria tecnica </h1>

<h2>¡Bienvenido {{user.name}}! {{user.email}}</h2>
<a href="/profile"><button>Profile</button></a>

<h2>Productos</h2>


<form action="/" method="get">
  <label for="category">Categoría:</label>
  <select name="category" id="category">
    <option value="">Todos</option>
    <option value="sketch">sketch</option>
    <option value="tecnico">tecnico</option>
    <option value="dibujo-tecnico">dibujo tecnico</option>
  </select>
  <button type="submit">Filtrar</button>
</form>


<form action="/" method="get">
  <label for="sort">Ordenar por precio:</label>
  <select name="sort" id="sort">
    <option value="">Ninguno</option>
    <option value="asc" {{#if currentSort}}selected{{/if}}>Ascendente</option>
    <option value="desc" {{#if currentSort}}selected{{/if}}>Descendente</option>
  </select>
  <button type="submit">Ordenar</button>
</form>




<table>
  <tr>
    {{!-- <th>ID</th> --}}
    <th>Título</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Código</th>
    <th>Stock</th>
    <th>Categoría</th>
    {{!-- <th>Status</th>
    <th>Thumbnail</th> --}}



  </tr>
  <tbody>
    {{#each products}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.category}}</td>
        {{!-- <td>{{this.status}}</td>
        <td>{{this.thumbnail}}</td> --}}
        <td><button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button></td>
      </tr>
    {{/each}}
 <a class="" href="/carts/646ce5b473b52b959314f4b9"><button>Cart</button></a>



<div>
     {{!-- {{#if hasPrevPage}}
      <a href="/?products={{category}}&sort={{currentSort}}&page={{prevPage}}&limit=4"><button>Anterior</button></a>
    {{/if}}
    {{#if hasNextPage}}
      <a href="/?products={{category}}&sort={{currentSort}}&page={{nextPage}}&limit=4"><button>Siguiente</button></a>
    {{/if}} --}}
      {{#if hasPrevPage}}
       <a href="/products?page={{prevPage}}&limit=5"><button>Anterior</button></a>
     {{/if}}

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&limit=5"><button>Siguiente</button></a>
    {{/if}}


</div>

<script src="/js/cart.js"></script>